@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?brupra');
  src: url('fonts/icomoon.eot?brupra#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?brupra') format('truetype'),
  url('fonts/icomoon.woff?brupra') format('woff'),
  url('fonts/icomoon.svg?brupra#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e9fe";
}
.icon-square-checked .path1:before {
  content: "\e900";
  color: rgb(255, 153, 0);
}

.icon-square-checked .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-upload:before {
  content: "\e902";
}
.icon-eye:before {
  content: "\e903";
}
.icon-toggle:before {
  content: "\e904";
}
.icon-ribbon:before {
  content: "\e905";
}
.icon-moon:before {
  content: "\e906";
}
.icon-cloud:before {
  content: "\e907";
}
.icon-umbrella:before {
  content: "\e908";
}
.icon-flag:before {
  content: "\e909";
}
.icon-watch:before {
  content: "\e90a";
}
.icon-disc:before {
  content: "\e90b";
}
.icon-heart:before {
  content: "\e90c";
}
.icon-align-center:before {
  content: "\e90d";
}
.icon-stack:before {
  content: "\e90e";
}
.icon-circle-minus:before {
  content: "\e90f";
}
.icon-square-minus:before {
  content: "\e910";
}
.icon-record:before {
  content: "\e911";
}
.icon-skip-back:before {
  content: "\e912";
}
.icon-skip-forward:before {
  content: "\e913";
}
.icon-stop:before {
  content: "\e914";
}
.icon-location:before {
  content: "\e915";
}
.icon-head:before {
  content: "\e916";
}
.icon-globe:before {
  content: "\e917";
}
.icon-tag:before {
  content: "\e918";
}
.icon-power:before {
  content: "\e919";
}
.icon-bar-graph-2:before {
  content: "\e91a";
}
.icon-volume:before {
  content: "\e91b";
}
.icon-columns:before {
  content: "\e91c";
}
.icon-trash:before {
  content: "\e91d";
}
.icon-minimize:before {
  content: "\e91e";
}
.icon-archive:before {
  content: "\e91f";
}
.icon-plus:before {
  content: "\e920";
}
.icon-bar-graph:before {
  content: "\e921";
}
.icon-mail:before {
  content: "\e922";
}
.icon-bell:before {
  content: "\e923";
}
.icon-link:before {
  content: "\e924";
}
.icon-sun:before {
  content: "\e925";
}
.icon-shuffle:before {
  content: "\e926";
}
.icon-ellipsis:before {
  content: "\e927";
}
.icon-clipboard:before {
  content: "\e928";
}
.icon-video:before {
  content: "\e929";
}
.icon-server:before {
  content: "\e92a";
}
.icon-align-left:before {
  content: "\e92b";
}
.icon-layers:before {
  content: "\e92c";
}
.icon-paper-stack:before {
  content: "\e92d";
}
.icon-circle-add:before {
  content: "\e92e";
}
.icon-square-add:before {
  content: "\e92f";
}
.icon-microphone:before {
  content: "\e930";
}
.icon-pause:before {
  content: "\e931";
}
.icon-download:before {
  content: "\e932";
}
.icon-battery:before {
  content: "\e933";
}
.icon-box:before {
  content: "\e934";
}
.icon-marquee:before {
  content: "\e935";
}
.icon-marquee-subtract:before {
  content: "\e936";
}
.icon-marquee-add:before {
  content: "\e937";
}
.icon-esc:before {
  content: "\e938";
}
.icon-arrow-left:before {
  content: "\e939";
}
.icon-arrow-right:before {
  content: "\e93a";
}
.icon-arrow-up:before {
  content: "\e93b";
}
.icon-arrow-down:before {
  content: "\e93c";
}
.icon-grid-2:before {
  content: "\e93d";
}
.icon-ban:before {
  content: "\e93e";
}
.icon-maximize:before {
  content: "\e93f";
}
.icon-file-add:before {
  content: "\e940";
}
.icon-clock:before {
  content: "\e941";
}
.icon-cog:before {
  content: "\e942";
}
.icon-signal:before {
  content: "\e943";
}
.icon-unlock:before {
  content: "\e944";
}
.icon-drop:before {
  content: "\e945";
}
.icon-cloud-upload:before {
  content: "\e946";
}
.icon-repeat:before {
  content: "\e947";
}
.icon-image:before {
  content: "\e948";
}
.icon-camera:before {
  content: "\e949";
}
.icon-monitor:before {
  content: "\e94a";
}
.icon-align-justify:before {
  content: "\e94b";
}
.icon-book:before {
  content: "\e94c";
}
.icon-paper:before {
  content: "\e94d";
}
.icon-reply:before {
  content: "\e94e";
}
.icon-circle-cross:before {
  content: "\e94f";
}
.icon-square-cross:before {
  content: "\e950";
}
.icon-play:before {
  content: "\e951";
}
.icon-folder:before {
  content: "\e952";
}
.icon-map:before {
  content: "\e953";
}
.icon-anchor:before {
  content: "\e954";
}
.icon-share:before {
  content: "\e955";
}
.icon-alt:before {
  content: "\e956";
}
.icon-star:before {
  content: "\e957";
}
.icon-grid:before {
  content: "\e958";
}
.icon-content-right:before {
  content: "\e959";
}
.icon-content-left:before {
  content: "\e95a";
}
.icon-bag:before {
  content: "\e95b";
}
.icon-contract:before {
  content: "\e95c";
}
.icon-move:before {
  content: "\e95d";
}
.icon-outbox:before {
  content: "\e95e";
}
.icon-search:before {
  content: "\e95f";
}
.icon-zoom-out:before {
  content: "\e960";
}
.icon-zoom-in:before {
  content: "\e961";
}
.icon-paper-clip:before {
  content: "\e962";
}
.icon-layout:before {
  content: "\e963";
}
.icon-lock:before {
  content: "\e964";
}
.icon-thermometer:before {
  content: "\e965";
}
.icon-cloud-download:before {
  content: "\e966";
}
.icon-reload:before {
  content: "\e967";
}
.icon-target:before {
  content: "\e968";
}
.icon-air-play:before {
  content: "\e969";
}
.icon-printer:before {
  content: "\e96a";
}
.icon-paragraph:before {
  content: "\e96b";
}
.icon-align-right:before {
  content: "\e96c";
}
.icon-stack-2:before {
  content: "\e96d";
}
.icon-cross:before {
  content: "\e96e";
}
.icon-delete:before {
  content: "\e96f";
}
.icon-expand:before {
  content: "\e970";
}
.icon-loader:before {
  content: "\e971";
}
.icon-mute:before {
  content: "\e972";
}
.icon-pie-graph:before {
  content: "\e973";
}
.icon-location-2:before {
  content: "\e974";
}
.icon-speech-bubble:before {
  content: "\e975";
}
.icon-square-check:before {
  content: "\e976";
}
.icon-inbox:before {
  content: "\e977";
}
.icon-circle-check:before {
  content: "\e978";
}
.icon-rewind:before {
  content: "\e979";
}
.icon-fast-forward:before {
  content: "\e97a";
}
.icon-command:before {
  content: "\e97b";
}
.icon-menu:before {
  content: "\e97c";
}
.icon-minus:before {
  content: "\e97d";
}
.icon-file-subtract:before {
  content: "\e97e";
}
.icon-check:before {
  content: "\e97f";
}
.icon-open:before {
  content: "\e980";
}
.icon-file:before {
  content: "\e981";
}
.icon-briefcase:before {
  content: "\e982";
}
.icon-help:before {
  content: "\e983";
}
.icon-upload2:before {
  content: "\e984";
}
.icon-eye2:before {
  content: "\e985";
}
.icon-ribbon2:before {
  content: "\e986";
}
.icon-moon2:before {
  content: "\e987";
}
.icon-cloud2:before {
  content: "\e988";
}
.icon-umbrella2:before {
  content: "\e989";
}
.icon-flag2:before {
  content: "\e98a";
}
.icon-watch2:before {
  content: "\e98b";
}
.icon-disc2:before {
  content: "\e98c";
}
.icon-heart2:before {
  content: "\e98d";
}
.icon-align-center2:before {
  content: "\e98e";
}
.icon-circle-minus2:before {
  content: "\e98f";
}
.icon-square-minus2:before {
  content: "\e990";
}
.icon-record2:before {
  content: "\e991";
}
.icon-skip-back2:before {
  content: "\e992";
}
.icon-skip-forward2:before {
  content: "\e993";
}
.icon-stop2:before {
  content: "\e994";
}
.icon-location2:before {
  content: "\e995";
}
.icon-head2:before {
  content: "\e996";
}
.icon-globe2:before {
  content: "\e997";
}
.icon-tag2:before {
  content: "\e998";
}
.icon-power2:before {
  content: "\e999";
}
.icon-bar-graph-22:before {
  content: "\e99a";
}
.icon-volume2:before {
  content: "\e99b";
}
.icon-columns2:before {
  content: "\e99c";
}
.icon-trash2:before {
  content: "\e99d";
}
.icon-minimize2:before {
  content: "\e99e";
}
.icon-archive2:before {
  content: "\e99f";
}
.icon-plus2:before {
  content: "\e9a0";
}
.icon-bar-graph2:before {
  content: "\e9a1";
}
.icon-mail2:before {
  content: "\e9a2";
}
.icon-bell2:before {
  content: "\e9a3";
}
.icon-link2:before {
  content: "\e9a4";
}
.icon-sun2:before {
  content: "\e9a5";
}
.icon-shuffle2:before {
  content: "\e9a6";
}
.icon-ellipsis2:before {
  content: "\e9a7";
}
.icon-clipboard2:before {
  content: "\e9a8";
}
.icon-video2:before {
  content: "\e9a9";
}
.icon-server2:before {
  content: "\e9aa";
}
.icon-align-left2:before {
  content: "\e9ab";
}
.icon-paper-stack2:before {
  content: "\e9ac";
}
.icon-square-add2:before {
  content: "\e9ad";
}
.icon-microphone2:before {
  content: "\e9ae";
}
.icon-pause2:before {
  content: "\e9af";
}
.icon-download2:before {
  content: "\e9b0";
}
.icon-battery2:before {
  content: "\e9b1";
}
.icon-box2:before {
  content: "\e9b2";
}
.icon-marquee2:before {
  content: "\e9b3";
}
.icon-marquee-subtract2:before {
  content: "\e9b4";
}
.icon-marquee-add2:before {
  content: "\e9b5";
}
.icon-esc2:before {
  content: "\e9b6";
}
.icon-arrow-left2:before {
  content: "\e9b7";
}
.icon-arrow-right2:before {
  content: "\e9b8";
}
.icon-arrow-up2:before {
  content: "\e9b9";
}
.icon-arrow-down2:before {
  content: "\e9ba";
}
.icon-grid-22:before {
  content: "\e9bb";
}
.icon-ban2:before {
  content: "\e9bc";
}
.icon-maximize2:before {
  content: "\e9bd";
}
.icon-file-add2:before {
  content: "\e9be";
}
.icon-clock2:before {
  content: "\e9bf";
}
.icon-cog2:before {
  content: "\e9c0";
}
.icon-signal2:before {
  content: "\e9c1";
}
.icon-unlock2:before {
  content: "\e9c2";
}
.icon-drop2:before {
  content: "\e9c3";
}
.icon-cloud-upload2:before {
  content: "\e9c4";
}
.icon-repeat2:before {
  content: "\e9c5";
}
.icon-image2:before {
  content: "\e9c6";
}
.icon-camera2:before {
  content: "\e9c7";
}
.icon-align-justify2:before {
  content: "\e9c8";
}
.icon-paper2:before {
  content: "\e9c9";
}
.icon-circle-cross2:before {
  content: "\e9ca";
}
.icon-play2:before {
  content: "\e9cb";
}
.icon-folder2:before {
  content: "\e9cc";
}
.icon-map2:before {
  content: "\e9cd";
}
.icon-anchor2:before {
  content: "\e9ce";
}
.icon-share2:before {
  content: "\e9cf";
}
.icon-alt2:before {
  content: "\e9d0";
}
.icon-star2:before {
  content: "\e9d1";
}
.icon-grid2:before {
  content: "\e9d2";
}
.icon-content-right2:before {
  content: "\e9d3";
}
.icon-content-left2:before {
  content: "\e9d4";
}
.icon-bag2:before {
  content: "\e9d5";
}
.icon-contract2:before {
  content: "\e9d6";
}
.icon-move2:before {
  content: "\e9d7";
}
.icon-outbox2:before {
  content: "\e9d8";
}
.icon-search2:before {
  content: "\e9d9";
}
.icon-zoom-out2:before {
  content: "\e9da";
}
.icon-zoom-in2:before {
  content: "\e9db";
}
.icon-paper-clip2:before {
  content: "\e9dc";
}
.icon-layout2:before {
  content: "\e9dd";
}
.icon-lock2:before {
  content: "\e9de";
}
.icon-thermometer2:before {
  content: "\e9df";
}
.icon-cloud-download2:before {
  content: "\e9e0";
}
.icon-reload2:before {
  content: "\e9e1";
}
.icon-air-play2:before {
  content: "\e9e2";
}
.icon-paragraph2:before {
  content: "\e9e3";
}
.icon-stack-22:before {
  content: "\e9e4";
}
.icon-delete2:before {
  content: "\e9e5";
}
.icon-loader2:before {
  content: "\e9e6";
}
.icon-pie-graph2:before {
  content: "\e9e7";
}
.icon-speech-bubble2:before {
  content: "\e9e8";
}
.icon-inbox2:before {
  content: "\e9e9";
}
.icon-circle-check2:before {
  content: "\e9ea";
}
.icon-rewind2:before {
  content: "\e9eb";
}
.icon-fast-forward2:before {
  content: "\e9ec";
}
.icon-command2:before {
  content: "\e9ed";
}
.icon-menu2:before {
  content: "\e9ee";
}
.icon-minus2:before {
  content: "\e9ef";
}
.icon-file-subtract2:before {
  content: "\e9f0";
}
.icon-check2:before {
  content: "\e9f1";
}
.icon-open2:before {
  content: "\e9f2";
}
.icon-file2:before {
  content: "\e9f3";
}
.icon-briefcase2:before {
  content: "\e9f4";
}
.icon-help2:before {
  content: "\e9f5";
}
.icon-pre:before {
  content: "\e9f6";
}

.icon-info:before {
  content: "\e9f7";
}

.icon-detail_up:before {
  content: "\e9f8";
}

.icon-detail_down:before {
  content: "\e9f9";
}

.icon-shop:before {
  content: "\e9fa";
}

.icon-calendar:before {
  content: "\e9fb";
}

.icon-square:before {
  content: "\e9fc";
}

.icon-comment:before {
  content: "\e9fd";
}

